body {
  width: 1440px;
  height: 720px;
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  margin: 0;
  padding: 0;
}

header {
  padding: 25px 30px;
}

header img {
  width: 200px;
}

.main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  column-gap: 40px;
}
.left {
  display: grid;
  justify-content: end;
  grid-column: 2/6;
}

.left img {
  width: 100%;
}
.content {
  text-wrap: wrap;
  display: grid;
  grid-column: 6/9;
  grid-template-rows: 150px 150px 100px;
  padding-top: 20px;
}

.content h2 {
  font-size: 30px;
  font-family: poppins, serif;
  font-weight: bold;
  color: white;
}

.content-p {
  padding-right: 140px;
}

.content p {
  word-wrap: break-word;
  font-size: 16px;
  font-family: poppins, serif;
  color: white;
}

.register-button button {
  background-color: white;
  border: 2px solid purple;
  color: purple;
  font-weight: bold;
  padding: 15px 45px;
  border-radius: 35px;
  box-shadow: 2px 2px 0.5px;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.register-button:hover button {
  background-color: purple;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  box-shadow: none;
}
